<footer>
    <div class="f-info">
        <div class="f-info-socials"></div>

    </div>
    <div>&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Service</a>
    </div>
    <div >
        <i href="https://www.facebook.com" class="fa-brands fa-facebook"></i>
        <i href="https://www.twitter.com" class="fa-brands fa-twitter"></i>
        <i href="https://www.instagram.com" class="fa-brands fa-instagram"></i>
        <i href="https://www.linkedin.com" class="fa-brands fa-linkedin-in"></i>
    </div>
</footer>