<footer>
  <div class="f-info-socials">
    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
  </div>

  <div class="f-info-links">
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms of Service</a>
  </div>

  <div class="f-info-copy">
    &copy; Wanderlust Private Limited
  </div>
</footer>